/* .navbar-brand
{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  color: #00B074 !important;
  /* margin-bottom: 5px; 
} */
